@font-face {
    font-family: 'iconfont';  /* project id 401517 */
    src: url('https://at.alicdn.com/t/font_401517_hthk8nihqxxyldi.eot');
    src: url('https://at.alicdn.com/t/font_401517_hthk8nihqxxyldi.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_401517_hthk8nihqxxyldi.woff') format('woff'),
    url('https://at.alicdn.com/t/font_401517_hthk8nihqxxyldi.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_401517_hthk8nihqxxyldi.svg#iconfont') format('svg');
}
.dingbu{
    width: 100%;
    height: 40px;
    background-color: orange;
    padding: 0 40px;
    font-size: 12px;
}
.dingbu li{
    display: inline;
    margin-right: 20px;
    line-height: 40px;
    font-size: 12px;
}
.kaoyou{
    position: absolute;
    top: 0;
    right: 0;
}
.list{
    width: 100%;
    height: 174px;
    background-color: white;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.logo{
    width: 218.828px;
    height: 154px;
    background-color: white;
    /* background-image: url('../img/BQ.png'); */
    /* background-size: 100%; */
}
.logo-xiaoping{
    width: 218.828px;
    height: 154px;
    background-color: white;
    background-image: url('../imgQ/BQ.png');
    background-size: 100%;
    margin: 0 auto;
}
.shouye{
    /* max-width: 750px; */
    /* height: 60px; */
    background-color: white;
    position: absolute;
    bottom: 80px;
    right: 50px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}
.shouye-guding{
    /* width: 880px; */
}
.shouye-xiao{
    width: 47px;
    height: 44px;
    position: absolute;
    top: 47px;
    right: 0;
    background-color: white;
}
.shouye-xiao a{
    font-size: 35px;
}
.xiaohezi{
    max-width: 58px;
    height: 60px;
    background-color: white;
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 5px solid white;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    color: orange;
}
.xiaohezi1{
    width: 29px;
    height: 60px;
    background-color: white;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 60px;
    color: orange;
}
.xiaohezi:nth-last-of-type(2){
    border-bottom: 5px solid orangered;
}
.xiaohezi a{
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    line-height: 60px;
}
.xiaohezi:hover{
    border-bottom: 5px solid orangered;
}
header{
    width: 100%;
    height: 545px;
    background-color: black;
    padding: 20px 40px 0 40px;
    overflow: hidden;

}
/*中部开始*/
.all{
    width: 1349px;
    height: 667px;
    float: left;
    margin-top: 20px;
}
.zhongtop{
    width: 100%;
    height: 82px;
    text-align: center;
    line-height: 82px;
    font-family: "微软雅黑", "苹方", "黑体";
    font-weight: bold;
    font-size: 24px;
    color: #dd9933;
}
.all-nei{
    width: 1269px;
    height: 1380px;
    padding:0 40px;
}
.nei-left{
    width: 624.5px;
    height: 647px;
    float: left;
    padding: 0 5px;
}
.div{
    width: 584px;
    height: 25px;
    margin-left: 40px;
    font-size: 14px;
}
.jia{
    font-weight: 700;
}
.jiaj{
    font-size: 16px;
}
.nei-right{
    width: 564.5px;
    height: 644px;
    padding: 0 5px;
    float: left;
}
.right-nei{
    width: 100%;
    height: 100%;
    border:1px solid orangered;
}
.nei-big{
    width: 100%;
    height: 272px;
    margin-top: 70px;
    padding-left: 60px;
}
.nei-z{
    width: 100%;
    height: 37px;
    font-size: 12px;
    padding-bottom: 20px;
}
.nei-z input{
    width: 99%;
    height: 99%;
    border-radius: 2px;
    background-color: #f4f4f4;
    border: 1px solid #e8e8e8;
    color: #8e93be;
}
.content{
    width: 99%;
    height: 64px;
    font-size: 12px;
    padding: 2px;
    border: 1px solid #e8e8e8;
}
.content input{
    border-radius: 2px;
    background-color: #f4f4f4;
    border: 1px solid #e8e8e8;
    color: #8e93be;
}
.nei-anniu{
    width: 100%;
    height: 37px;
    font-size: 12px;
    padding-bottom: 20px;
    margin-top: 40px;
}
.nei-anniu input{
    background-color: orange;
    width: 50px;
    height: 28px;
    color: #fff;
    border-radius: 2px;
}
.xiatu{
    width: 100%;
    height: 300px;
    float: left;
}
.logo{
    width: 252px;
    height: 205px;
    margin: 0 5px;
    float: left;
}
.ewm{
    width: 280px;
    height: 280px;
    margin: 0 5px;
    float: left;
}
.qq{
    width: 1349px;
    height: 302px;
    background-color: #f4f4f4;

}
.zhongtiao{
    width: 944px;
    height: 61px;
    margin: 120.5px auto;
    background-color: #f4f4f4;
}
.yii{
    width: 157.33px;
    height: 60px;
    padding:0 5px;
    float: left;
}
.yie{
    width: 157.33px;
    height: 60px;
    padding:0 5px;
    float: right;
}
.yii a{
    font-size: 55px;
    color: #333;
}
.f{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 55px;
    background-color: #333;
}
.f a{
    color: #fff;
    font-size: 25px;
}
/*底部开始*/
footer{
    height: 300px;
    padding-top: 40px;
    background-color: #fafafa;
}
.dibu-nei{
    width: 1024px;
    height: 100%;
    padding: 0 40px;
    margin: 0 122.5px;
    background-color: #fafafa;
    overflow: hidden;
}
.dibu-san{
    height: 100%;
    /* margin: 0 5.109px 20px 5.109px; */
    /* background-color: black; */
    padding: 10px;
}
.dibu-san h1{
    width: 100%;
    height: 20%;
    /* background-color: white; */
    font-size: 14px;
    color: rgb(105, 105, 105);
    font-family: 微软雅黑;
    font-weight: bold;
    text-align: center;
    background-color: rgb(234, 234, 234);
}
.dibu-san a{
    width: 100%;
    height: 15%;
    /* background-color: white; */
    color: #555;
    display: block;
    font-size: 12px;
    text-align: center;
}
.jiewei{
    width: 100%;
    height: 39px;
    /* background-color: purple; */
    margin-top: 50px;
}
.jiewei-da{
    /* width: 1269px; */
    height: 100%;
    padding: 0 40px;
    margin: 0 auto;
}
.jiewei-da h1{
    width: 100%;
    height: 50%;
    /* background-color: white; */
    text-align: center;
    font-size: 12px;
}