@font-face {
  font-family: 'iconfont';  /* project id 401517 */
  src: url('https://at.alicdn.com/t/font_401517_6yhi4fr8iqus1yvi.eot');
  src: url('https://at.alicdn.com/t/font_401517_6yhi4fr8iqus1yvi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_401517_6yhi4fr8iqus1yvi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_401517_6yhi4fr8iqus1yvi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_401517_6yhi4fr8iqus1yvi.svg#iconfont') format('svg');
}
.dingbu{
	width: 100%;
	height: 40px;
	background-color: orange;
	padding: 0 40px;
	font-size: 12px;
}
.dingbu li{
	display: inline;
	margin-right: 20px;
	line-height: 40px;
	font-size: 12px;
}
.kaoyou{
	position: absolute;
	top: 0;
	right: 0;
}
.list{
	width: 100%;
	height: 174px;
	background-color: white;
	padding: 0 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}
.logo{
	width: 218.828px;
	height: 154px;
	background-color: white;
	/* background-image: url('../img/BQ.png'); */
	/* background-size: 100%; */
}
.logo-xiaoping{
	width: 218.828px;
	height: 154px;
	background-color: white;
	background-image: url('../imgQ/BQ.png');
	background-size: 100%;
	margin: 0 auto;
}
.shouye{
	/* max-width: 750px; */
	/* height: 60px; */
	background-color: white;
	position: absolute;
	bottom: 80px;
    right: 50px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}
.shouye-guding{
	/* width: 880px; */
}
.shouye-xiao{
	width: 47px;
	height: 44px;
	position: absolute;
	top: 47px;
	right: 0;
	background-color: white;
}
.shouye-xiao a{
	font-size: 35px;
}
.xiaohezi{
	max-width: 58px;
	height: 60px;
	background-color: white;
	padding-top: 2px;
	padding-bottom: 3px;
	border-bottom: 5px solid white;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	color: orange;
}
.xiaohezi1{
	width: 29px;
	height: 60px;
	background-color: white;
	padding-top: 2px;
	padding-bottom: 3px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 14px;
	line-height: 60px;
	color: orange;
}
.xiaohezi a{
	font-size: 14px;
	font-weight: bolder;
	text-align: center;
	line-height: 60px;
	color: #dd9933;
}
.xiaohezi:nth-last-of-type(5){
	border-bottom: 5px solid orangered;
}
.xiaohezi:hover{
	border-bottom: 5px solid orangered;
}
header{
	width: 100%;
	height: 526px;
	padding: 0 40px;
	/* background-color: red; */
}
.tao{
	width: 100%;
	height: 100%; 
	/* background-color: black; */
	float:left;
	padding-top: 20px;
}
.tao-left{
	width: 100%;
	height: 100%;
	background-color: white;
	float:left;
}
.zizi{
	width: 100%;
	height: 82px;
	/* background-color: blue; */
}
.zizi h1{
	font-size: 24px;
	text-align: center;
	line-height: 82px;
	color: rgb(139, 69, 19);
	font-weight: 900;
}
.liangge{
	width: 100%;
	height: 422px;
	/* background-color: blue; */
}
.liangge-xiao{
	width: 1024px;
	height: 100%;
	/* background-color: red; */
	margin: 0 auto;
}
.erfenzhiyi{
	width: 1024px;
	height: 100%;
	padding: 0 40px;
	/* background-color: orange; */
	float: left;
}
.yileft{
	width: 462px;
	height: 402px;
	border-radius: 5px;
	/* background-color: black; */
	float: left;
	margin: 0 5px;
	border: 1px orange solid;
	overflow: hidden;
}
.yuantu{
	width: 100%;
	height: 150px;
	margin-top: 40px;
	/* background-color: blue; */
}
.yiright{
	width: 462px;
	height: 402px;
	border-radius: 5px;
	/* background-color: black; */
	float: left;
	margin: 0 5px;
	border: 1px orange solid;
	overflow: hidden;
}
.yuanyuan{
	width: 150px;
	height: 150px;
	border-radius: 75px;
	background-color: white;
	margin: 0 auto;
}
.yuanyuan img{
	border-radius: 50%;
}
.yuanzi{
	width: 100%;
	height: 42px;
	margin-top: 15px;
}
.yuanzi h1{
	font-size: 20px;
	text-align: center;
	color: rgb(139, 69, 19);
}
.yuanzi h2{
	font-size: 16px;
	text-align: center;
	color: rgb(139, 69, 19);
}
.yuandibu{
	width: 460px;
	height: 128px;
	padding: 20px;
	padding-top: 40px;
	background-color: rgb(221, 180, 117);
	margin-top: 25px;
}
.yuandibu span{
	font-size: 16px;
	margin-top: 40px;
	color: rgb(139, 69, 19);
}
footer{
	height: 300px;
	padding-top: 40px;
	background-color: rgb(234, 234, 234);
}
.dibu-nei{
	height: 100%;
	padding: 0 40px;
	margin: 0 122.5px;
	background-color: rgb(234, 234, 234);
	overflow: hidden;
}
.dibu-san{
	height: 100%;
	/* margin: 0 5.109px 20px 5.109px; */
	/* background-color: black; */
	padding: 10px;
}
.dibu-san h1{
	width: 100%;
	height: 20%;
	/* background-color: white; */
	font-size: 14px;
	color: rgb(105, 105, 105);
    font-family: 微软雅黑;
    font-weight: bold;
    text-align: center;
    background-color: rgb(234, 234, 234);
}
.dibu-san a{
	width: 100%;
	height: 15%;
	/* background-color: white; */
	color: #555;
	display: block;
	font-size: 12px;
	text-align: center;
}
.jiewei{
	width: 100%;
	height: 39px;
	/* background-color: purple; */
	margin-top: 50px;
}
.jiewei-da{
	/* width: 1269px; */
	height: 100%;
	padding: 0 40px;
	margin: 0 auto;
}
.jiewei-da h1{
	width: 100%;
	height: 50%;
	/* background-color: white; */
	text-align: center;
	font-size: 12px;
}